/* general properties */
:root {
    font-size: 16px;
    --main-color: #df4d4d;
    scroll-behavior: smooth;
}
/* start of navbar */
.navbar {
    background-color: white;
    z-index: 9999;
    position: fixed;
}
.nav-taabs {
    color: black;
    transition: all;
    transition-duration: 0.25s; 
    cursor: pointer;
}
.nav-taabs:hover {
    color: var(--main-color);
}

/* mini nav */
 .gear i {
    position: fixed;
    background: rgb(35, 32, 32);
    color: #fff;
    font-size: 1.25rem;
    border-radius: 0px 2px 2px 0px;
    padding: 0.6rem 0.6rem;
    left: 0;
    top: 20%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 99;
}

/* start of home */
#HOME .animated-capsule {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 50px;
    border: 2px solid white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%; 
    cursor: pointer; 
    transition: all;
    transition-duration: 0.25s;
}
#HOME .animated-capsule:hover {
    border: 2px solid var(--main-color);
}
#HOME .animated-capsule::after {
    content: '';
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 5px;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    position: absolute;
    animation: ballMove 1.5s linear alternate infinite; 
    transition: all;
    transition-duration: 0.25s; 
}
#HOME .animated-capsule:hover::after {
    background-color: var(--main-color);
}
@keyframes ballMove {
    0% {top: 10%; opacity: 1;}
    50% {top: 50%; opacity: 0;}
    100% {top: 80%; opacity: 0;}
    
}

.carousel-control-prev-icon {
    position: absolute;
    left:0%;
    font-size: 1rem;
    border: 2px solid white;
    border-left: none;
    padding-left: 3rem;
    padding-top: 3rem;
    top: 45%;
    
}
.carousel-control-prev-icon:hover {
    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.436);
}
.carousel-control-next-icon {
    position: absolute;
    left:0%;
    font-size: 1rem;
    border: 2px solid white;
    border-left: none;
    padding-left: 3rem;
    padding-top: 3rem;
    top: 7%
}
.carousel-control-next-icon:hover {
    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.436);
}
.intro-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    color: white;
    width: 80%;
    font-size: 5rem;
    text-align: center;
    line-height: 80px; 
}
.fromLTOR {
    animation: mo 1s ease-in-out;
}
@keyframes mo {
    from{transform: translateX(0);
    opacity: 0;
    }
    to {
        transform: translateX(180);
    opacity: 1;
    }
}


/* sections header  */
.section-header {
    font-size: 3rem;
    padding-top: 4rem;
}
.section-header h2 {
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 2.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
}
.section-header h3 {
    font-size: 1em;
    font-weight: 700;
}
.section-header h3::after {
    content: '';
    width: 25%;
    height: 0.5px;
    background-color: black;
    position: absolute;
    bottom: -1.7rem;
    left: 50%;
    transform: translate(-50%);
    transition: all;
    transition-duration: 0.5s;
   
}
.section-header h3:hover::after {
    width: 35%;
}

/* start of about us */
.intro {
    width: 60%;
    font-size: 1.3rem;
    font-weight: 400;
}
#About .col-md-7 p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.text-above-pbar h6 {
    font-size: 1.04rem;
}
.text-above-pbar1 {
    width: 80%;
}
.text-above-pbar2 {
    width: 95%;
}
.text-above-pbar3 {
    width: 85%;
}
.text-above-pbar4 {
    width: 70%;
}
.progress-bar {
    height: 4px;
    border: 0px var(--main-color) solid;
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--main-color);
}
.progress {
    height: 4px;
    border: 0px var(--main-color) solid;
    
}
/* end of about us */
/* start of our team */

#OUR-TEAM .work-item {
    border: none;
    position: relative;
    overflow: hidden;
}
#OUR-TEAM .work-item .work-img img {
    transition: all;
    transition-duration: 0.5s;
    border-radius: 5px;
}
#OUR-TEAM .work-item .layer {
    background-color: var(--main-color);
    position: absolute;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all;
    transition-duration: 0.5s;
   
}
#OUR-TEAM .work-item .layer:hover .layer-icons {
    top:0%;
    color: white;
    
}
#OUR-TEAM .work-item .layer .layer-icons {
    position: relative;
    top: 5%;
    transition: all;
    transition-duration: 0.5s;
    color: transparent ;  
}
#OUR-TEAM .work-item .layer:hover {
    opacity: 0.8;
    border-radius: 5px;
}
.para-under-icon {
    font-size: 1.5rem;
    width: 60%;
    margin: auto;
}

#OUR-TEAM .work-item:hover img {
    border: none;
    border-radius: 5px;
    transform: scale(1.1);
    
}
.ttest {
    transition: all;
    transition-duration: 0.25s;
}
.ttest:hover {
    color: var(--main-color);
}

#OUR-TEAM .work-item:hover .card-title h5 {
    color: var(--main-color);

}

.que-btn {
    margin-top: 10rem;
}
.question-words {
    
    font-size: 2.5rem;
    font-weight: 400;
}
.button-ourTeam .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--main-color);
}
.button-ourTeam .btn:hover {
    background-color: #ff7474;
}
/* end of our team */
/* start of services */
#SERVICES{
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: #fafafa;
}
#SERVICES .container-fluid .text-desc p {
    font-size: 1.05rem;
    line-height: 1.8rem;
}
#SERVICES .caard h4 {
    font-size: 1.4rem;
    font-weight: 600;
    transition: all;
    transition-duration: 0.25s;
}
#SERVICES .caard:hover h4 {
    color: var(--main-color);
}
#SERVICES .iccon {
    color: var(--main-color);
}
#SERVICES .container-fluid {
    padding-bottom: 5rem;
}
/* end of services */
/* start of client review */
#CLIENT-REVIEW .carousel-indicators [data-bs-target]{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    text-indent: 0;
}
#CLIENT-REVIEW .intro {
   
    padding-bottom: 3rem;
}

/* end of client review */
/* start of get in touch */
#Get-In-Touch{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: #fafafa;
}
#Get-In-Touch .iccoon {
    font-size: 3rem;
    color: var(--main-color);
   

}
#Get-In-Touch .get-answers {
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
#Get-In-Touch .img-teext {
    padding-bottom: 1.3rem;
    padding-top: 1.5rem;
    border-bottom: #eeeeee 1px solid;
}

#Get-In-Touch .img-teext h4 {
    transition: all;
    transition-duration: 0.5s;
}
#Get-In-Touch .img-teext:hover h4 {
    color: var(--main-color);
}
#Get-In-Touch .eemail{
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 0.5s;
}
#Get-In-Touch .eemail:hover{
   color: var(--main-color);
}
.send-message {
    background-color: var(--main-color);
    padding: 0.8rem 2rem;
    
    font-weight:700 ;
    border: none solid var(--main-color) ;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    margin-bottom: 2rem;
}
.send-message h5 {
    padding-top: 5px;
    font-size: 1rem;
    font-weight: 700;
}
.send-message i {
    font-size: 1rem;
    justify-content: center;
    align-self: center;
}

.send-message:hover {
    background-color: #ff7474;
}
/* end of get in touch */

/* start of contact  */
#CONTACT {
    
    background: #222;
    background-image: url(../images/dotted-map.png);
    background-size: contain ;
    background-position: center center;
    padding-bottom: 5rem;
}
#CONTACT .custom-text-gray {
    color: #a2a8a6;
}

#CONTACT .go-top i {
    background-color:#ff7474;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    border: none;
    border-radius: 50%;
    left: 50%;
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 1.1rem;  
    transition: all;
    transition-duration: 0.25s;
    cursor: pointer;
    opacity: 0.7;
}
#CONTACT .go-top i:hover {
    background-color: var(--main-color);
    opacity: 1;
}

#CONTACT .eemail{
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 0.5s;
}
#CONTACT .eemail:hover{
   color: var(--main-color);
}
#CONTACT .logo {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
#CONTACT .coloring {
    transition: all;
    transition-duration: 0.25s;
    color: #a2a8a6;
    cursor: pointer;
}
#CONTACT .coloring:hover {
    color: var(--main-color);
}
#CONTACT .skill-btns {
    border: #a2a8a6 1px solid ;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    transition: all;
    transition-duration: 0.25s;
    
}
#CONTACT .skill-btns:hover {
    border: var(--main-color) 1px solid;
    
}
#CONTACT .skill-btns h4 {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
/* end of contacts */
/* start of footer */
#FOOTER .container-fluid {
    background-color: #1a1a1a;
}
#FOOTER i {
    padding-right: 1.5rem;
    transition: all;
    transition-duration: 0.25s;
    cursor: pointer;
    color: white ;
}
#FOOTER i:hover {
    color: var(--main-color);
}
#FOOTER h6 span a {
    transition: all;
    transition-duration: 0.25s;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
.hovr-angora {
    color: white;
}
.hovr-angora:hover {
    color: var(--main-color);
}
#FOOTER h6 {
    color: #a2a8a6 ;
}

input[type=text]:focus{
    outline: 2px solid var(--main-color);     
  }
input[type=email]:focus{
    outline: 2px solid var(--main-color);     
  }
  input[type=number]:focus{
    outline: 2px solid var(--main-color);     
  }
  textarea:focus{
    outline: 2px solid var(--main-color);     
  }
